.container{
  margin-top: 10px;
}
.col-10{
  font-size: 25px;
  text-align: left;
}
hr{
  background-color: #dbf5ff;
  height:2px;
}
.form-group{
  width:60%;
}
.col-4{
  font-size:5px;
}
.col-8{
  margin-top: 10px;
}
